#animation {
  // boom's component

  .card {
    @include displayFlex;
    cursor: pointer;
    width: 200px;
    height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    .card-header {
      text-align: center;
      border-bottom: 2px solid green;
    }

    .card-body {
      @include displayFlex;
      flex: 1;
    }

    .card-footer {
      border-top: 1px solid black;
      text-align: center;
    }
  }

  .opened {
    background-color: green;
  }
}
