#interaction {
  .main-card {
    @include flexCenter;

    width: 100%;
    height: 75%;

    .drop-box {
      @include flexCenter;
      flex-direction: column;
      justify-content: flex-start;
      width: 200px;
      height: 250px;
      border-radius: 20px;
      background-color: green;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      padding: 20px;

      .img {
        width: 100px;
        height: 100px;
        background-color: yellow;
        margin-bottom: 15px;

        img {
          width: 100%;
        }
      }

      .sentence {
      }
    }
  }

  .small-card {
    @include flexCenter;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background-color: gray;

    .box {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

      img {
        width: 100%;
      }
    }
  }
}
