$black: #000;
$brown: #cb3434;

.main-container {
  height: 100%;
  background-color: lightgray;
  @include displayFlex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  @include displayFlex;
  height: 100%;
  width: 100%;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
