<div id="animation" class="container">
  <button class="btn-toggle btn-hide">Hide Me</button>
  <button class="btn-toggle btn-show">Show Me</button>

  <button id="btn-nextpage" class="btn-toggle ">Go to interaction page</button>

  <div class="main-container">
    <div class="card">
      <div class="card-header">this is a header</div>
      <div class="card-body">this is a body</div>
      <div class="card-footer">this is a footer</div>
    </div>

    <div class="card">
      <div class="card-header">this is a header</div>
      <div class="card-body">this is a body</div>
      <div class="card-footer">this is a footer</div>
    </div>

    <div class="card">
      <div class="card-header">this is a header</div>
      <div class="card-body">this is a body</div>
      <div class="card-footer">this is a footer</div>
    </div>

    <div class="card">
      <div class="card-header">this is a header</div>
      <div class="card-body">this is a body</div>
      <div class="card-footer">this is a footer</div>
    </div>
    <div class="card">
      <div class="card-header">this is a header</div>
      <div class="card-body">this is a body</div>
      <div class="card-footer">this is a footer</div>
    </div>
  </div>
</div>
